.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 300px;
  animation: spin .5s linear infinite;
}

@media (prefers-reduced-motion: no-preference) {
  .loading {
    animation: spin infinite .5s linear;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}