.single-poem-container {
  padding-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-poem-card {
  display: flex;
  flex-direction: column;
  background: #E8EDEC;
  width: 80vw;
  margin-top: 32px;
  padding: 16px;
  font-family: 'Lexend', sans-serif;
}
