body {
  background-image: url('inkblots.jpeg');
  background-size: cover;
}

.App {
  width: 100vw;
  height: 100vh;
}

.logo-title {
  color: white;
  font-family: 'Alice', serif;
  font-size: 500%;
  margin: 0 0 0 16px;
}