.poem-card {
  background: #E8EDEC;
  padding: 16px;
  font-family: 'Lexend', sans-serif;
}

.poem-card:hover {
  background: #FFFF;
  transition: 0.5s;
}

.poem-title {
  font-size: 150%;
  margin: 0 0 8px 0;
}

.poem-author {
  font-size: 80%;
  margin: 0px;
}